/*Fisier style.css-Asigura stilizarea paginii de start index.html*/
@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Zen+Antique&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-attachment: fixed;
  margin: 0;
  padding: 0;
}

#main {
  background-color: #f5cea6;
  margin: 4em;
  border-radius: 30px;
  -webkit-transition: 2s;
  transition: 2s;
}

#main .title {
  font-family: "Italianno", cursive;
  text-align: center;
  font-size: 4em;
  padding-top: 1em;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  margin: 0 auto;
  display: block;
  cursor: pointer;
}

#main .title:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

#main .subtitle {
  text-align: center;
  font-weight: 600;
  font-family: "PT Serif", serif;
  padding-bottom: 3em;
}

#main .div-imagine {
  background-color: burlywood;
  margin-left: 3em;
  margin-right: 3em;
  padding-top: 3em;
  padding-bottom: 3em;
  padding-bottom: 3em;
  height: 400px;
  border-radius: 10px;
  -webkit-box-shadow: 1px 1px lightgray;
          box-shadow: 1px 1px lightgray;
}

#main .div-imagine img {
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  height: 300px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

#main .div-imagine img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

#main #info h2 {
  text-align: center;
  font-family: "Italianno", cursive;
  font-size: 3em;
}

#main #info article p {
  font-family: "PT Serif", serif;
  line-height: 1.4em;
  text-indent: 1em;
  margin-left: 2em;
  margin-right: 2em;
  font-size: 1.5em;
}

#main #info article .last {
  padding-bottom: 1em;
}

#main hr {
  border-top: 3px solid #9b2915;
  border-bottom: 3px solid #f5cea6;
}

#main hr:after {
  content: "";
  display: block;
  margin-top: 2px;
  border-top: 3px solid #9b2915;
  border-bottom: 3px solid #f5cea6;
}

#main #info2 h2 {
  text-align: center;
  font-family: "Italianno", serif;
  font-size: 3em;
}

#main #info2 ol {
  margin-left: 1.5em;
  list-style-position: outside;
  font-size: 1.5em;
  padding-bottom: 1.5rem;
}

#main #info2 ol li {
  font-family: "PT Serif", serif;
  list-style-type: upper-roman;
}

#main #info2 ol li blockquote {
  font-family: "PT Serif", serif;
  margin-left: 2em;
  margin-right: 2em;
}

#main #info3 {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  height: 150px;
}

#main #info3 h2 {
  text-align: center;
  font-family: "Italianno", serif;
  font-size: 3em;
  -webkit-transition: 1s;
  transition: 1s;
  padding-bottom: 1em;
}

#main #info3 h2 a {
  text-decoration: none;
  -webkit-transition: 1s;
  transition: 1s;
  color: black;
}

#main #info3 h2 a:hover {
  color: #9b2915;
}

#main #info3 h2 a:visited {
  color: #9b2915;
}

#main #info3 .shown {
  display: block;
  height: 400px;
  width: 75%;
  padding-bottom: 2em;
  border-radius: 15px;
}

#main #info3 .hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */